html, body{
    height: 100%;
  }
  body { 
    background-image: url(../images/galaxy_crystal\ wallpaper.jpg) ;
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
    background-color: #999; 
  }
  div, body{
    margin: 0;
    padding: 0;
    font-family: exo, sans-serif;  
  }
  .wrapper {
    height: 101%; 
    width: 90%; 
    margin-left: 5%;
  }
  .container{
      background-color: white;
      height: 100%;
  }
  h1, h2{
    text-align: center;
    font-family: 'Lobster', cursive;
  }
  p{
    font-family: 'Modern Antiqua', cursive;
  }
  #magicnumber, #playerTotal{
    border-style: solid;
    border-color: black;
    border-width: 1px;
  }
  #numberOfWins, #numberOfLosses{
    color: #964cf2;
    font-weight: bold;
  }
@media only screen and (max-width:768px){
  .container{
    height: 190%;
  }
}